<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>register</title>
    <link rel="stylesheet" href="./css/register.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">

</head>
<body>
    <div id="header">
        <div class="container">
            <div class="logo">
                <h3><i class="fa-solid fa-bag-shopping"></i> Varkala</h3>
            </div>
            <ul class="links">
                <li class="link"><a href="/home">Home</a></li>
                <li class="link linkBg">
                    <div class="name">Shop <i class="fa-solid fa-chevron-down"></i></div>
                    <div class="linkBgUl">
                        <div class="top"></div>
                        <a href="/gender/men" class="linkBgLi"><i class="fa-solid fa-arrow-right"></i> <span>Man</span></a>
                        <a href="/gender/women" class="linkBgLi"><i class="fa-solid fa-arrow-right"></i> <span>Women</span></a>
                    </div>
                </li>
                <li class="link"><a href="/grancvel/register">Sing Up</a></li>
                <li class="link"><a href="/grancvel/login" class="link">Sing In</a></li>
            </ul>

            <div class="icons">
                <div class="icon">
                    <i class="fa-regular fa-heart"></i>
                </div>
  
                <div class="icon">
                    <i class="fa-solid fa-bag-shopping"></i>
                </div>
                <div class="icon">
                    <i class="fa-regular fa-user"></i>
                </div>
                <div class="icon menuBtn">
                    <i class="fa-solid fa-bars"></i>
                </div>
            </div>
        </div>
    </div>
    <div class="responsiveMenu">
        <div class="aside">
            <div class="top">
                <div class="logo">
                    <h3><i class="fa-solid fa-bag-shopping"></i> Varkala</h3>
                </div>
                <i class="fa-solid fa-xmark close"></i>
            </div>
            <div class="links">
                <a href="/home" class="link">Home</a>
                <div class="link linkBg">
                    <div class="name">Shop <i class="fa-solid fa-chevron-down"></i></div>
                    <div class="linkBgUl">
                        <a href="/gender/men" class="linkBgLi"><i class="fa-solid fa-arrow-right"></i> <span>Man</span></a>
                        <a href="/gender/women" class="linkBgLi"><i class="fa-solid fa-arrow-right"></i> <span>Women</span></a>
                    </div>
                </div>
                <a href="/grancvel/register" class="link">Sing Up</a>
                <a href="/grancvel/login" class="link">Sing In</a>
            </div>

            <div class="bottom">
                <div class="icons">
                    <div class="icon"><i class="fa-brands fa-facebook-f"></i></div>
                    <div class="icon"><i class="fa-brands fa-instagram"></i></div>
                    <div class="icon"><i class="fa-brands fa-whatsapp"></i></div>
                </div>
                <p>Samsa was a travelling salesman - and above it there hung a picture that he had recently cut out of an illustrated magazine and housed in a nice, gilded frame.</p>
            </div>
        </div>
    </div>


    <a class="topBtn" href="#hero">
        <i class="fa-solid fa-chevron-up"></i>
    </a>
    
    <div id="register" class="section">
        <div class="container">
            <form class="form" action="/grancvel/login" method="post" autocomplete="off">
                <div class="titleReg">
                    <h3>This Is A <span class="wb">Login</span> Page</h3>
                    <p>If You Want Can Like And Buy Register You Must Register</p>
                </div>

                <div class="inputs">
                    <lable class="inputBox">
                        <p>This Is A Email</p>
                        <div class="input">
                            <i class="fa-solid fa-envelope"></i>
                            <input type="email" placeholder="can you write your email" name="email" required>
                        </div>
                    </lable>
                    <lable class="inputBox">
                        <p>This Is A Password</p>
                        <div class="input password">
                            <i class="fa-solid fa-eye-slash"></i>
                            <input type="password" placeholder="can you write password" name="password" required>
                        </div>
                    </lable>
                </div>

                <button type="submit">Login</button>
            </form>
            <div class="map">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3058.4117494395086!2d44.53980219999999!3d39.95454600000001!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x406acb837d05a2eb%3A0x4d60ca68f5e3b095!2z1LHWgNWh1oDVodW_1asg1b_VodaA1aHVrtWh1bfWgNW71aHVttWh1bXVq9W2INW61aXVv9Wh1a_VodW2INaE1bjVrNWl1bsgKNSx1Y_VitWUKQ!5e0!3m2!1sru!2sam!4v1699734734702!5m2!1sru!2sam" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
    </div>

    
    <footer>
        <div class="container">
            <div class="card card1">
                <div class="logo">
                    <h3><i class="fa-solid fa-bag-shopping"></i> Varkala</h3>
                </div>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. At itaque temporibus.</p>
                <div class="inputBox">
                    <input type="email" placeholder="Please Enter Your email">
                    <i class="fa-regular fa-envelope"></i>
                </div>
            </div>
            <div class="card">
                <h3>Shop</h3>
                <ul>
                    <li><a>For Women</a></li>
                    <li><a>For Men</a></li>
                    <li><a>Stores</a></li>
                    <li><a>Our Blog</a></li>
                    <li><a>Shop</a></li>
                </ul>
            </div>

            <div class="card">
                <h3>Shop</h3>
                <ul>
                    <li><a>For Women</a></li>
                    <li><a>For Men</a></li>
                    <li><a>Stores</a></li>
                    <li><a>Our Blog</a></li>
                    <li><a>Shop</a></li>
                </ul>
            </div>

            <div class="card">
                <h3>Shop</h3>
                <ul>
                    <li><a>For Women</a></li>
                    <li><a>For Men</a></li>
                    <li><a>Stores</a></li>
                    <li><a>Our Blog</a></li>
                    <li><a>Shop</a></li>
                </ul>
            </div>
        </div>
        <div class="footerBottom">
            <div class="container">
                <p>© 2023 Your company. All rights reserved.</p>
                <p>This Project was Made by <span>Lina Petrosyan</span></p>
            </div>
        </div>
    </footer>

    <script>
        const passwordInput = document.querySelector('.password');
        const input = passwordInput.querySelector('input');
        const icon = passwordInput.querySelector('i');

        icon.addEventListener('click', () => {
            icon.classList.toggle('fa-eye');
            input.getAttribute('type') === 'password' ? input.setAttribute('type', 'text') : input.setAttribute('type', 'password');
        })
    </script>
    <script src="./scripts/navbar.js"></script>

</body>
</html>